@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --theme-color : #232323;
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: var(--theme-color);
  background-color: var(--theme-color);
}

.bg-text{
  position: absolute;
  width: 20rem;
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(70, 67, 67);
}

/* CARD */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 25rem;
  padding: 0 0.75rem;
  margin: 3rem 1rem;

  background-color: rgba(177, 169, 169, 0.5);
  border: 0.4px solid rgba(177, 169, 169, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.card .city {
  font-size: 1.5rem;
}
.card .time {
  display: inline;
  font-size: 3.5rem;
}

.card .ampm {
  display: inline;
  font-size: 2rem;
}

.card .date {
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin: 2rem 0;
}

.card .card-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
  border-radius: 5px 5px 10px 10px;
}


/* CLOCK */
.clock {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #101010,
  -5px -5px 10px #363636;;
}

.needle {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #e74c3c;
}

.center-point::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--theme-color);
}